/airflow/dags/AirFlow_3_2/.ipynb_checkpoints/AirFlow_3_2-checkpoint.py
/airflow/dags/AirFlow_3_2/.ipynb_checkpoints/AirFlow_3_2_rewrite_2_2-checkpoint.py
/airflow/dags/AirFlow_4_2/.ipynb_checkpoints/AirFlow_4_2_exchange_rates-checkpoint.py
/airflow/dags/harry_potter_shop_apache_airflow/.ipynb_checkpoints/main_dag-checkpoint.py
*-checkpoint.py